[Unit]
Description=My Python Script
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/Desktop/iot_hub.py
WorkingDirectory=/home/pi/Desktop
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target



